In [1]:
#ignore warning
import warnings
warnings.filterwarnings('ignore')

In [2]:
#import dependencies
import numpy as np
import pandas as pd
import datetime as dt
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, func
import psycopg2
from sqlalchemy import inspect, MetaData, Table
import os

In [3]:
refresh_tables = 'N'

In [4]:
if refresh_tables == 'Y':
    %run exploratory_data_analysis.ipynb
    print(esg_data.shape)
    print(info_df.shape)
    print(stock_historical_df.shape)
    print(business_controversy_df.shape)
    print(controversy_type_df.shape)
    
    # Store environmental variable
    from getpass import getpass
    password = getpass('Enter database password')
    engine = create_engine(f'postgresql://group2:{password}@projectdatabasedb.cnnwu3bjmrxc.us-east-1.rds.amazonaws.com:5432/group_2_project_db')
    
    # Make a connection to the SQL database
    conn = engine.connect()
    
    # Write DataFrame to active_user table in RDS
    esg_data.to_sql('esg_full', con=conn, if_exists='replace', index=False)
    info_df.to_sql('stock_details', con=conn, if_exists='replace', index=False)
    stock_historical_df.to_sql('stocks', con=conn, if_exists='replace', index=False)
    controversy_type_df.to_sql('controversy_type', con=conn, if_exists='replace', index=False)
    business_controversy_df.to_sql('business_controversy', con=conn, if_exists='replace', index=False)
    
else:
    # Store environmental variable
    from getpass import getpass
    password = getpass('Enter database password')
    engine = create_engine(f'postgresql://group2:{password}@projectdatabasedb.cnnwu3bjmrxc.us-east-1.rds.amazonaws.com:5432/group_2_project_db')
    
    # Make a connection to the SQL database
    conn = engine.connect()

Enter database password········

In [5]:
# Get the name of the table. 
inspector = inspect(engine)
inspector.get_table_names()

['esg_full',
 'stock_details',
 'stocks',
 'controversy_type',
 'business_controversy']

In [6]:
# Execute a connection string
data = engine.execute("SELECT * FROM esg_full LIMIT 1")
for record in data:
    print(record)

('INTC', 17.0, 4.0, 6.0, 7.0, datetime.datetime(2022, 2, 1, 0, 0), 'LAG_PERF', 'Semiconductors', 3.0, 31, 14.57, 'Customer Incidents,Business Ethics Incidents', 11.6, 21.21967741935484, 32.93, 2.53, 8.044999999999998, 16.08, 2.62, 6.166333333333333, 9.51, 4.79, 6.668666666666666, 9.67, 0.0, 1.1290322580645162, 4.0, 'None')

In [7]:
#  Create a meta data object to hold the reflected table schema
metadata = MetaData()

# Create a table object and use 'autoload' and 'autoload_with' to define the columns from the table. 
esg = Table('esg_full', metadata, autoload=True, autoload_with=engine)
info = Table('stock_details', metadata, autoload=True, autoload_with=engine)
controversy = Table('controversy_type', metadata, autoload=True, autoload_with=engine)
business_cont = Table('business_controversy', metadata, autoload=True, autoload_with=engine)
stocks = Table('stocks', metadata, autoload=True, autoload_with=engine)

# # Get the column names using the 'keys()' method on the column object. 
# esg.columns.keys()

In [8]:
# # Get the column names using the 'keys()' method on the column object. 
# info.columns.keys()

In [9]:
# Performing a sql join on postgres
from sqlalchemy import join
from sqlalchemy.sql import select
j = esg.join(info, esg.c.Ticker == info.c.Ticker)
stmt = select(
   [esg, info]).select_from(j)

# Query knowledge records in the the Database
esg_info_df = pd.read_sql(stmt, conn)
esg_info_df

,Ticker,totalScore,eScore,sScore,gScore,lastRated,esgPerformance,peerGroup,highestControversy,peerCount,...,bookValue,returnOnAssets,returnOnEquity,averageVolume,volume,currentPrice,fiftyTwoWeekLow,fiftyTwoWeekHigh,regularMarketPrice,marketCap
0,INTC,17.0,4.0,6.0,7.0,2022-02-01,LAG_PERF,Semiconductors,3.0,31,...,22.151,0.08586,0.22522,39784168,33249492,51.8300,43.63,68.49,51.8300,210792628224
1,MSFT,13.0,0.0,8.0,5.0,2022-02-01,LAG_PERF,Software & Services,3.0,105,...,21.335,0.15249,0.49051,37807347,14327104,307.1974,231.10,349.67,307.1974,2306201616384
2,BAC,27.0,2.0,14.0,11.0,2022-02-01,Not Available,Banks,3.0,175,...,30.374,0.01068,0.11778,55160016,19239484,43.0200,36.51,50.11,43.0200,346950303744
3,AAPL,16.3,0.6,6.9,8.8,2022-02-01,UNDER_PERF,Technology Hardware,3.0,55,...,4.402,0.19875,1.45567,93700745,51356493,174.2850,118.86,182.94,174.2900,2844308013056
4,NVDA,12.8,2.5,4.1,6.1,2022-02-01,UNDER_PERF,Semiconductors,2.0,31,...,10.619,0.17199,0.44832,52434636,24961081,276.8399,127.00,346.47,276.8399,689885020160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,DLR,13.0,3.2,3.7,6.1,2022-02-01,UNDER_PERF,Real Estate,0.0,108,...,58.279,0.01308,0.09442,1634014,819189,138.2300,130.10,178.22,138.2300,39227875328
61,COF,23.2,0.1,13.5,9.7,2022-02-01,AVG_PERF,Diversified Financials,4.0,89,...,133.911,0.02959,0.20556,3024740,2240666,135.8800,122.43,177.95,135.8800,57833521152
62,BBY,14.3,2.2,7.3,4.8,2022-02-01,UNDER_PERF,Retailing,2.0,57,...,17.547,0.10162,0.63223,3214070,1679729,96.3000,85.58,141.97,96.3000,23166023680
63,KMB,22.2,8.1,7.8,6.4,2022-02-01,AVG_PERF,Household Products,2.0,28,...,1.526,0.10050,2.29639,2023524,1778481,120.2800,117.32,145.79,120.2800,40525701120
64,EMN,24.8,11.5,5.5,7.8,2022-02-01,AVG_PERF,Chemicals,2.0,77,...,45.522,0.05295,0.08428,1296685,877798,110.6900,98.24,130.47,110.6900,14881164288

In [10]:
stmt = select([business_cont])
# Query knowledge records in the the Database
business_controversy_df = pd.read_sql(stmt, conn)
business_controversy_df

,Ticker,animalTesting,catholicValues,controversialWeapons,militaryContracting,None,Nuclear,smallArms,thermalCoal
0,INTC,0,0,0,0,1,0,0,0
1,MSFT,0,0,0,0,1,0,0,0
2,BAC,0,0,0,0,1,0,0,0
3,AAPL,0,0,0,0,1,0,0,0
4,NVDA,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
60,DLR,0,0,0,0,1,0,0,0
61,COF,0,0,0,0,1,0,0,0
62,BBY,0,0,0,0,1,0,0,0
63,KMB,1,0,0,0,0,0,0,0
64,EMN,1,0,0,0,0,0,0,0

In [11]:
stmt = select([controversy])
# Query knowledge records in the the Database
controversy_df = pd.read_sql(stmt, conn)
controversy_df

,Ticker,businessEthicsIncidents,customerIncidents,employeeIncidents,environmentalSupplyChainIncidents,governanceIncidents,None,operationsIncidents,productServiceIncidents,publicPolicyIncidents,socialSupplyChainIncidents,societyCommunityIncidents
0,INTC,1,1,0,0,0,0,0,0,0,0,0
1,MSFT,0,1,0,0,0,0,0,0,0,0,0
2,BAC,1,1,0,0,0,0,0,0,0,0,1
3,AAPL,1,1,0,0,0,0,0,0,0,1,0
4,NVDA,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
60,DLR,0,0,0,0,0,1,0,0,0,0,0
61,COF,0,1,0,0,0,0,0,0,0,0,0
62,BBY,1,1,1,1,0,0,0,0,0,1,0
63,KMB,0,1,0,0,0,0,0,0,0,1,0
64,EMN,1,0,0,0,0,0,0,0,0,0,1

In [12]:
stmt = select([stocks])
# Query knowledge records in the the Database
stocks_df = pd.read_sql(stmt, conn)
stocks_df

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,INTC,2018-03-16,51.169998,51.700001,50.990002,51.169998,47.260136,42559800.0
1,INTC,2018-03-19,50.740002,51.230000,49.930000,50.830002,46.946121,31115200.0
2,INTC,2018-03-20,50.880001,51.810001,50.849998,51.549999,47.611103,22215000.0
3,INTC,2018-03-21,51.549999,52.169998,51.169998,51.560001,47.620346,23239500.0
4,INTC,2018-03-22,50.740002,51.959999,50.599998,50.830002,46.946121,30916000.0
...,...,...,...,...,...,...,...,...
64443,EMN,2022-03-09,107.809998,109.629997,107.349998,108.709999,107.926285,2445400.0
64444,EMN,2022-03-10,107.580002,107.889999,105.760002,106.889999,106.119400,1750700.0
64445,EMN,2022-03-11,107.440002,107.660004,105.389999,105.419998,104.660004,1610800.0
64446,EMN,2022-03-14,105.839996,107.209999,104.370003,106.080002,106.080002,1504800.0
64447,EMN,2022-03-15,106.709999,107.199997,104.540001,106.000000,106.000000,1208900.0