In [1]:
#import dependencies
import numpy as np
import pandas as pd
import datetime as dt
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, func
import psycopg2
from sqlalchemy import inspect
import os

In [2]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password')
engine = create_engine(f'postgresql://group2:{password}@projectdatabasedb.cnnwu3bjmrxc.us-east-1.rds.amazonaws.com:5432/group_2_project_db')

Enter database password········

In [3]:
# Get the name of the table. 
inspector = inspect(engine)
inspector.get_table_names()

['info',
 'stocks',
 'society',
 'knowledge',
 'health',
 'net_impact',
 'environment']

In [4]:
# Make a connection to the SQL database
conn = engine.connect()

In [5]:
# Query Society records in the the Database
society_df = pd.read_sql("SELECT * FROM society", conn)
society_df

,ticker,society_n,society_p,jobs_n,jobs_p,taxes_n,taxes_p,societal_infrastructure_n,societal_infrasctucute_p,societal_stability_n,societal_stability_p,equality_human_rights_n,eqality_human_rights_p
0,WDAY,-0.01,3.79,0.0,1.11,0.0,2.28,0.0,0.03,-0.0,0.36,-0.01,0.02
1,PANW,-0.07,4.33,0.0,0.84,0.0,1.85,0.0,0.12,-0.06,1.52,-0.0,0.01
2,ABMD,-0.0,2.71,0.0,0.91,0.0,1.7,0.0,0.1,-0.0,0.0,-0.0,0.01
3,ADBE,-0.06,3.4,0.0,0.91,0.0,2.29,0.0,0.12,-0.06,0.07,-0.0,0.01
4,AMD,-0.05,1.97,0.0,0.68,0.0,1.07,0.0,0.08,-0.05,0.12,-0.0,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,WBA,-0.02,2.0,0.0,0.78,0.0,0.96,0.0,0.22,-0.01,0.02,-0.01,0.02
108,WDC,-0.09,2.77,0.0,1.1,0.0,1.5,0.0,0.11,-0.08,0.04,-0.0,0.01
109,XLNX,-0.07,2.51,0.0,0.8,0.0,1.54,0.0,0.11,-0.07,0.05,-0.0,0.02
110,ZBRA,-0.11,2.92,0.0,0.88,0.0,1.45,0.0,0.54,-0.09,0.03,-0.02,0.01
111,ZION,-0.06,2.56,0.0,0.77,0.0,0.83,0.0,0.87,-0.02,0.03,-0.04,0.06

In [6]:
# Query health records in the the Database
health_df = pd.read_sql("SELECT * FROM health", conn)
health_df

,ticker,health_n,health_p,physical_diseases_n,physical_diseases_p,mental_diseases_n,mental_diseases_p,nutrition_n,nutrition_p,relationships_n,relationships_p,meaning_joy_n,meaning_joy_p
0,WDAY,-0.03,0.37,-0.01,0.02,-0.0,0.0,0.0,0.0,-0.02,0.04,-0.0,0.31
1,PANW,-0.1,0.61,-0.06,0.05,-0.02,0.01,0.0,0.0,-0.02,0.05,-0.0,0.51
2,ABMD,-0.37,3.58,-0.36,2.83,-0.0,0.37,0.0,0.0,-0.01,0.01,-0.0,0.37
3,ADBE,-0.2,1.43,-0.06,0.17,-0.02,0.03,0.0,0.0,-0.05,0.75,-0.07,0.49
4,AMD,-0.19,0.47,-0.12,0.16,-0.03,0.02,0.0,0.02,-0.03,0.16,-0.01,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,WBA,-0.34,1.38,-0.28,0.76,-0.03,0.12,0.0,0.07,-0.02,0.01,-0.01,0.42
108,WDC,-0.16,0.39,-0.07,0.13,-0.02,0.03,0.0,0.0,-0.04,0.12,-0.02,0.1
109,XLNX,-0.21,0.48,-0.1,0.12,-0.04,0.03,0.0,0.0,-0.05,0.18,-0.03,0.14
110,ZBRA,-0.15,0.33,-0.12,0.08,-0.01,0.02,0.0,0.0,-0.02,0.1,-0.01,0.13
111,ZION,-0.1,0.27,-0.06,0.09,-0.01,0.02,0.0,0.01,-0.01,0.06,-0.01,0.09

In [7]:
# Query knowledge records in the the Database
knowledge_df = pd.read_sql("SELECT * FROM knowledge", conn)
knowledge_df

,ticker,knowledge_n,knowledge_p,knowledge_infrastructure_n,knowledge_infrastructure_p,creating_knowledge_n,creating_knowledge_p,distributing_knowledge_n,distributing_knowledge_p,scarce_human_capital_n,scarce_human_capital_p
0,WDAY,-2.65,1.37,0.0,0.11,0.0,0.07,-0.0,1.19,-2.65,0.0
1,PANW,-3.89,3.16,0.0,2.49,0.0,0.56,-0.0,0.12,-3.89,0.0
2,ABMD,-1.19,0.03,0.0,0.0,0.0,0.02,-0.0,0.0,-1.19,0.0
3,ADBE,-3.69,1.83,0.0,1.3,0.0,0.23,-0.02,0.29,-3.67,0.0
4,AMD,-1.16,1.05,0.0,0.64,0.0,0.21,-0.0,0.2,-1.16,0.0
...,...,...,...,...,...,...,...,...,...,...,...
107,WBA,-1.06,0.04,0.0,0.01,0.0,0.03,-0.0,0.01,-1.05,0.0
108,WDC,-2.2,1.43,0.0,0.49,0.0,0.74,-0.0,0.19,-2.2,0.0
109,XLNX,-1.72,1.92,0.0,1.29,0.0,0.38,-0.0,0.25,-1.72,0.0
110,ZBRA,-1.45,1.1,0.0,0.39,0.0,0.07,-0.0,0.64,-1.45,0.0
111,ZION,-1.83,0.32,0.0,0.08,0.0,0.02,-0.0,0.21,-1.83,0.0

In [8]:
# Query knowledge records in the the Database
net_impact_df = pd.read_sql("SELECT * FROM net_impact", conn)
net_impact_df

,ticker,millennials,most_wanted_workforce,society_first,knowledge_first,health_first,net_impact_ratio
0,WDAY,0.527,0.426,0.426,0.449,0.6920000000000001,0.471
1,PANW,0.504,0.389,0.389,0.418,0.765,0.419
2,ABMD,0.6779999999999999,0.551,0.551,0.312,0.506,0.654
3,ADBE,0.3929999999999999,0.253,0.253,0.253,0.649,0.3279999999999999
4,AMD,0.4429999999999999,0.1989999999999999,0.1989999999999999,0.18,0.708,0.27
...,...,...,...,...,...,...,...
107,WBA,0.288,-0.073,-0.073,-0.092,-0.0289999999999999,0.135
108,WDC,0.4039999999999999,0.216,0.216,0.18,0.6809999999999999,0.2739999999999999
109,XLNX,0.512,0.332,0.332,0.275,0.7809999999999999,0.374
110,ZBRA,0.3979999999999999,0.133,0.133,0.192,0.65,0.207
111,ZION,0.322,0.131,0.131,0.325,0.309,0.235

In [9]:
# Query knowledge records in the the Database
environment_df = pd.read_sql("SELECT * FROM environment", conn)
environment_df

,ticker,environment_n,environment_p,ghg_emission_n,ghg_emission_p,non_ghg_emission_n,non_ghg_emission_p,scarcenatural_resources_n,scarce_natural_resources_p,bidodiversity_n,biodiversity_p,waste_n,waste_p
0,WDAY,-0.24,0.01,-0.12,0.01,-0.03,0.0,-0.02,0.0,-0.02,0.0,-0.06,0.0
1,PANW,-0.67,0.02,-0.4,0.01,-0.06,0.01,-0.03,0.0,-0.01,0.0,-0.17,0.0
2,ABMD,-0.62,0.0,-0.18,0.0,-0.0,0.0,-0.0,0.0,-0.01,0.0,-0.43,0.0
3,ADBE,-0.54,0.02,-0.31,0.02,-0.04,0.01,-0.02,0.0,-0.01,0.0,-0.15,0.0
4,AMD,-1.19,0.07,-0.67,0.04,-0.16,0.02,-0.03,0.0,-0.03,0.0,-0.3,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,WBA,-1.57,0.03,-0.62,0.02,-0.17,0.0,-0.07,0.0,-0.04,0.0,-0.68,0.0
108,WDC,-0.91,0.04,-0.49,0.03,-0.07,0.01,-0.05,0.0,-0.02,0.0,-0.29,0.0
109,XLNX,-1.1,0.05,-0.63,0.03,-0.1,0.01,-0.03,0.0,-0.02,0.0,-0.32,0.0
110,ZBRA,-1.76,0.02,-1.0,0.01,-0.07,0.0,-0.07,0.0,-0.01,0.0,-0.6,0.0
111,ZION,-0.44,0.03,-0.25,0.02,-0.06,0.0,-0.02,0.0,-0.03,0.0,-0.08,0.0

In [10]:
# compile the list of dataframes you want to merge

society_df, environment_df, net_impact_df, health_df, knowledge_df
merged_df1 = pd.merge(society_df, environment_df, on="ticker")
merged_df2 = pd.merge(net_impact_df, health_df, on="ticker")
merged_df3 = pd.merge(merged_df1, merged_df2, on="ticker")
Stocks_with_ESG = pd.merge(merged_df3, knowledge_df, on="ticker")
Stocks_with_ESG

,ticker,society_n,society_p,jobs_n,jobs_p,taxes_n,taxes_p,societal_infrastructure_n,societal_infrasctucute_p,societal_stability_n,...,knowledge_n,knowledge_p,knowledge_infrastructure_n,knowledge_infrastructure_p,creating_knowledge_n,creating_knowledge_p,distributing_knowledge_n,distributing_knowledge_p,scarce_human_capital_n,scarce_human_capital_p
0,WDAY,-0.01,3.79,0.0,1.11,0.0,2.28,0.0,0.03,-0.0,...,-2.65,1.37,0.0,0.11,0.0,0.07,-0.0,1.19,-2.65,0.0
1,PANW,-0.07,4.33,0.0,0.84,0.0,1.85,0.0,0.12,-0.06,...,-3.89,3.16,0.0,2.49,0.0,0.56,-0.0,0.12,-3.89,0.0
2,ABMD,-0.0,2.71,0.0,0.91,0.0,1.7,0.0,0.1,-0.0,...,-1.19,0.03,0.0,0.0,0.0,0.02,-0.0,0.0,-1.19,0.0
3,ADBE,-0.06,3.4,0.0,0.91,0.0,2.29,0.0,0.12,-0.06,...,-3.69,1.83,0.0,1.3,0.0,0.23,-0.02,0.29,-3.67,0.0
4,AMD,-0.05,1.97,0.0,0.68,0.0,1.07,0.0,0.08,-0.05,...,-1.16,1.05,0.0,0.64,0.0,0.21,-0.0,0.2,-1.16,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,WBA,-0.02,2.0,0.0,0.78,0.0,0.96,0.0,0.22,-0.01,...,-1.06,0.04,0.0,0.01,0.0,0.03,-0.0,0.01,-1.05,0.0
108,WDC,-0.09,2.77,0.0,1.1,0.0,1.5,0.0,0.11,-0.08,...,-2.2,1.43,0.0,0.49,0.0,0.74,-0.0,0.19,-2.2,0.0
109,XLNX,-0.07,2.51,0.0,0.8,0.0,1.54,0.0,0.11,-0.07,...,-1.72,1.92,0.0,1.29,0.0,0.38,-0.0,0.25,-1.72,0.0
110,ZBRA,-0.11,2.92,0.0,0.88,0.0,1.45,0.0,0.54,-0.09,...,-1.45,1.1,0.0,0.39,0.0,0.07,-0.0,0.64,-1.45,0.0
111,ZION,-0.06,2.56,0.0,0.77,0.0,0.83,0.0,0.87,-0.02,...,-1.83,0.32,0.0,0.08,0.0,0.02,-0.0,0.21,-1.83,0.0

# This goes into Stock_Price_valuation.ipynb for machine learning

In [11]:
# Import the CSV of ESG
file_to_save = os.path.join("Resources", "Stocks_with_ESG.csv")
Stocks_with_ESG.to_csv(file_to_save)